.cart-container {
	width: 100%;
	height: calc(100% - 70px);
	margin: auto;
	box-shadow: 0 3px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
	padding: 20px;
	margin-top: 10px;
}

/* cart items */
.cart-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 30px;
}
.cart-right {
	height: 300px;
	overflow-y: scroll;
}
.cart-bold {
	font-weight: bold;
	margin-right: 10px;
}

.item-card {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 24%);
	padding: 10px;
}

.cart-interact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40px;
}
.cart-interact button {
	border: none;
	cursor: pointer;
	border-radius: 2px;
	transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.cart-interact button:hover {
	background: var(--orange);
	color: white;
}
.item-details {
	flex: 1;
}
.item-total {
	color: var(--orange);
	font-size: 14px;
}
.item-details {
	font-size: 16px;
	color: var(--text);
}
.item-price {
	font-size: 12px;
	color: gray;
	text-align: center;
}
.item-name {
	color: var(--text);
}

.item-price::first-letter {
	color: var(--orange);
	font-weight: bold;
}

.item-clear {
	align-self: flex-start;
}
.item-clear > .fa-times {
	font-size: 15px;
	color: gray;
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
	transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.item-clear > .fa-times:hover {
	background: var(--orange);
	color: white;
}

.cart-bottom-total > * {
	padding: 8px 20px;
	border-radius: 5px;
	color: white;
	margin: 0 5px;
	border: none;
	background: var(--green);
	transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	cursor: pointer;
}
.cart-bottom-total .fas {
	height: 100%;
	padding: 10px;
	margin-bottom: -4px;
	transform: translateY(5%);
	background: rgb(204, 27, 27);
}
.cart-bottom-total button:hover {
	transform: translateY(-5%);
}
/* not found */

.cart {
	width: 100%;
	border: 1px solid #d3d3d3;
	margin: 50px auto;
	border-radius: 5px;
	padding: 50px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 7%), 0 3px 6px rgb(0 0 0 / 7%);
	text-align: center;
}
.cart-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
}

.not-found-button {
	background-color: var(--green);
	padding: 10px 30px;
	color: #fff;
	transition: 0.9s;
	border: none;
	font-size: 18px;
}

.not-found-title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 16px;
}
