.homearea_card {
	box-shadow: 0 3px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
	/* padding: 10px; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 2px;
}
.homearea_card-tag {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
	background: var(--green);
	padding: 5px 10px;
	border-radius: 4px;
	color: white;
	z-index: 10;
}
.homearea_card-media {
	margin: auto;
	width: 120px;
	height: 120px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.img-responsive {
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: 9;
	margin: auto;
	object-fit: contain;
}

.homearea_card-title {
	text-align: center;
	font-size: 1.1rem;
	color: var(--text);
	padding: 0 8px;
}
.homearea_card-count {
	color: var(--orange);
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 14px;
}

.homearea_card-price {
	color: var(--text);
	margin-top: 10px;
	text-align: center;
	margin-bottom: 30px;
}

.homearea_card-num {
	font-size: 20px;
	font-weight: bold;
	color: gray;
}

.homearea_card-row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 90%;
	margin: auto;
	padding: 10px;
	color: var(--text);
}

.next-morning {
	font-size: 12px;
	margin: 0 5px;
	padding-left: 0px;
	color: gray;
	line-height: 1px;
}

.homearea_card-button {
	width: 100%;
	background: var(--green);
	padding: 10px;
	margin: -20px;
	text-align: center;
	margin-top: 10px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	margin-bottom: -15px;
}

.homearea_card-button:hover {
	transform: translateY(-5%);
}

.homearea_card-button_added {
	background: var(--orange);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.homearea_card-button_added span {
	width: 40px;
	height: 100%;
	padding: 10px;
}

.homearea_card-button_added p {
	flex: 1;
	border-right: 1px solid #57575771;
	border-left: 1px solid #57575771;
	padding: 10px;
}

.homearea_card-button_added span:hover {
	color: var(--text);
}
