:root {
	--white: #fff;
	--green: #006a4e;
	--orange: #fb6801;
	--text: #313131;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.loading-initialized {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.main {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img-responsive:hover {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	transition: 0.5s;
	overflow: hidden;
}

.fa-search,
.fa-cart-plus,
.fa-bars {
	width: 30px;
	height: 30px;
	font-size: 30px;
}
.fa-bars {
	margin-left: 10px;
	color: var(--green);
}
.fa-angle-double-right {
	margin: 0 5px 0 15px;
	font-size: 20px;
}
.fa-truck {
	color: #e76262;
}
.fa-money-check-alt {
	padding: 0 5px;
}
.explore_text,
.shodai_text,
.mama_text {
	color: grey;
	text-decoration: none;
	font-weight: bold;
}
.shodai_text {
	color: var(--green);
}
.mama_text {
	color: var(--orange);
}
.fixSidebar {
	overflow-y: scroll;
	position: fixed;
	bottom: 0;
	top: 64px;
}
.fa-shopping-basket,
.fa-leaf,
.fa-stopwatch-20,
.fa-cc-amazon-pay,
.fa-universal-access,
.fa-balance-scale,
.fa-headset,
.fa-google-wallet {
	font-size: 52px;
	margin: 20px 0;
	color: var(--green);
}

.fa-cart-arrow-down {
	width: 100px;
	height: 100px;
	font-size: 80px;
	color: var(--green);
}

.fa-file-invoice {
	margin: 0 8px;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: gray;
}

::-webkit-scrollbar-thumb {
	background: var(--orange);
	border-radius: 10px;
}

/* pages */
.homearea {
	position: absolute;
	left: 290px;
	top: 75px;
	width: calc(100% - 300px);
}

.homearea_content,
.bottom_category-container,
.why_shodaimama-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 28px;
	margin: 50px 0;
	margin-right: 16px;
}

/* responsive */

@media (max-width: 800px) {
	.homearea {
		position: absolute;
		left: 20px;
		top: 0;
		width: calc(100% - 20px);
	}
	.homearea_category {
		display: none;
	}
	.payment-image2 {
		display: block !important;
		margin-bottom: 60px;
	}
	.payment-image1 {
		display: none !important;
	}
}
@media (min-width: 801px) {
	.payment-image1 {
		display: block !important;
	}
	.payment-image2 {
		display: none !important;
	}
}

/* loader */
.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: var(--green);
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
