.footer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(219px, 1fr));
	justify-content: center;
	grid-gap: 30px;
	width: 100%;
	border-bottom: 1px solid rgb(216, 216, 216);
}
.footer_col {
	margin: 30px 0;
}
.footer_col_title {
	font-size: 16px;
	font-weight: 700;
	text-transform: capitalize;
	text-align: left;
	color: var(--text);
}
.footer_col-link {
	margin: 16px 0;
}
.footer_col-link_item {
	color: var(--text);
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
.footer_col-social {
	display: flex;
	justify-content: space-between;
	color: var(--text);
	padding: 24px 0;
	align-items: center;
}
.footer_col-social > * {
	cursor: pointer;
}
.footer_col-app {
	width: 100%;
	background-color: var(--green);
	border: none;
	color: white;
	border-radius: 3px;
	margin: 0 0 16px 0;
	padding: 8px 0;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	overflow: hidden;
}
.footer_col-app::before {
	content: '';
	-webkit-animation: motion-blur 5s ease-in-out infinite;
	animation: motion-blur 5s linear infinite;
	top: 0px;
	position: absolute;
	background: rgba(0, 0, 0, 0.144);
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 22;
	overflow: hidden;
}

@keyframes motion-blur {
	0% {
		right: 0;
	}
	25% {
		right: -150%;
		left: 100%;
	}
	50% {
		right: 0;
		left: 0;
	}
	75% {
		right: 100%;
		left: -150%;
	}
	100% {
		right: 0;
		left: 0;
	}
}
